<footer class="site-footer">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ul class="footer-links">
        <li><a href="mailto:owen@char.gd">Say Hi</a></li>
        <li><a href="http://twitter.com/ow">Twitter</a></li>
        <li><a href="https://www.facebook.com/Ow3n.Williams">Facebook</a></li>
        <li><a href="https://www.linkedin.com/in/owenpwilliams?trk=nav_responsive_tab_profile">LinkedIn</a></li>
        <li><a href="https://github.com/hyperperforator">GitHub</a></li>
        <li><a href="http://char.gd">Newsletter</a></li>
      </ul>
    </div>
  </div>
</div>
</footer>
