@font-face {
    font-family: "Akkurat-Regular";
    src:url("/assets/fonts/akkurat-regular.eot");
    src:url("/assets/fonts/akkurat-regular.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/akkurat-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}