.nav {
  //padding-top: 40px;
  margin-bottom: 60px;
  //position: relative;
  padding-top: 20px;
  margin-bottom: 60px;
  position: fixed;
  z-index: 1;
  background: white;
  padding-bottom: 20px;

  a {
    margin-right: 0px;
    margin-left: 0px;
    color: $brand;

    &:hover {
      color: lighten($brand, 10.5%);
      border-bottom: 2px solid $brand;
      text-decoration: none;
    }

    &:active {
      color: $brand;
    }
    &:first-child {
      margin-left: 0px;
    }
  }


    li:after {
      content: '/';
      padding-left: 20px;
      padding-right: 5px;
    }


}

.photo-nav {
  a {
    color: white;
  }
}

.nav ul li:last-child {
  &:after {
      content: '';
    }

}

.profile {
  margin-bottom: 20px;
}

.fullSize {
  width: 100% !important;
   transition: all 1.8s;
}

.age {
  display: none;
  max-width: 360px !important;
}

.small {
  width: 50px !important;
}

.menu-left {
    position: fixed;
    background: $brand;
    float: left;
    color: white;
    height: 100%;
    width: 40%;
    flex-direction: row;
    justify-content: flex-end;

    a {
      color: $dark;
      &:hover {
        color: darken( $dark, 15% );
        transition:.2s;
        text-decoration: none;
      }
    }

    .faded {
      color: $faded;
      margin-bottom: 80px;
    }

    .hero {
      margin-right: 40px;
      margin: 0 auto;

      .lead-contain {
        border-left: 7px solid $faded;
        padding-left: 15px;
        width: 360px;
      }

      h1 {
        font-size: 35px;
      }
    }

    @extend .vcenter;
}

.right-box {
  width: 60%;
  float: right;
}

.lead-contain {
  h1 {
    color: white;

      a {
    color: white;

    &:hover {
      text-decoration: none;
      color: darken( white, 5% );
    }
  }
  }


}

.nav ul, .footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 15px;
    }
}

.site-footer {
  display: none;
  background: $brand;
  margin-top: 30px;

  .footer-links {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

    a {
      color: #CC2B04;
      text-transform: uppercase;
    }
  }
}

.home-btn {
  border: 2px solid $brand;
  color: $brand;
  transition: .5s;
  margin-bottom: 40px;

  &:hover {
    background: #0B476B;
    color: white;
  }
}

.status {
  margin-top: 30px;
  margin-bottom: 5px;
}

.home-btn.inverted {
  border: 2px solid white;
  color: white;
  text-transform: uppercase;

  &:hover{
    background: white;
    color: #0B476B;
  }
}

.content {
  padding-top: 40px;
}