.location {
  background: #677A95;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: auto;
  display: inline-block;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin-right: 5px;
}

.featured-box {
  height: 400px;
  background-size: cover;
  position: relative;
  transition: 0.5s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

.photo-element {
  margin-top: 20px;
}

.tint {
  background: linear-gradient(to bottom, rgba(16,4,20,0.1) 0%,rgba(15,7,20,0.1) 21%,rgba(11,16,20,1) 100%);
  width: 100%;
  height: 100%;
  position: relative;
}

.meta {
  position: absolute;
  bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  width: 100%;

  .location {
    background: none;
    color: #677A95;
  }

  h3 {
    color: white;
  }
}

.photo-gallery {
  margin-left: 60px;
  margin-right: 60px;
}

.gallery {
  img {
    width: 100%;
  }

  .nav {
    text-align: center;
  }

  .menu-left {
    display: none;
  }

  .body-width {
    width: 100%;
    background: #292f33;
    min-height: 100%;
  }

  h1, h2 {
    color: white;
    font-weight: 500;
  }

  p {
    color: rgba(255,255,255,0.8);
  }

  .content {
    text-align: left;
  }

  .meta-box {
    text-align: center;
    margin-bottom: 40px;
  }
}

.image-gallery {
  margin-bottom: 50px;
}

$default-width: 50%;

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* force scrollbar, prevents initial gap */
html {
  overflow-y: scroll;
}

#gallery-sizer {
  width: 1px;
}

.grid-item {
  width: 50%;
}

.grid-item--width33 {
    width: 33.3333333333% !important;
}

.grid-item--width2 {
    width: 100%;
}

.image-gallery {
  display: block;

  .image-wrapper {
    float: left;
    padding: 4px;

    // hack required if no padding
    .image {
      width: 100.1%;
      width: calc( 100% + 1px );
      height: 100%;
    }
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.caption {
  position: static;
  color: #AAA;
}