<!DOCTYPE html>
<html>

  {% include head.html %}
  <body>

    {% include header.html %}

    <div class="menu-left">
      <div class="hero">
        <div class="lead-contain">
          <h1><a href="/">OWEN WILLIAMS</a></h1>
          <p class="year" id="myAge"></p>

          <p class="faded age" id="listen"></p>
        </div>
        <div class="links">
						<p class="status">Available for freelance right now!</p>
						<a href="mailto:owen@char.gd" class="btn home-btn inverted">Let's talk</a>
          <h3><a href="mailto:owen@char.gd">Say Hi</a></h3>
          <h3><a href="http://twitter.com/ow">Twitter</a></h3>
          <h3><a href="https://www.linkedin.com/in/owenpwilliams?trk=nav_responsive_tab_profile">LinkedIn</a></h3>
          <h3><a href="https://github.com/ow">GitHub</a></h3>
          <h3><a href="http://char.gd">Newsletter</a></h3>
          
        </div>
      </div>
    </div>
    <div class="right-box pages">
      <div class="container">
        <div class="nav">
          <div class="col-lg-12">
            <ul class="uppercase">
              <li><a href="/">Home</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="/portfolio">My work</a></li>
              <li><a href="/work">Career</a></li>
              <li><a id="photos" href="/photography">Photography</a></li>
              <li><a href="mailto:owen@char.gd">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="content">
        {{ content }}
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
  <script>
    jQuery(document).ready(function($) {

    var siteUrl = 'http://'+(document.location.hostname||document.location.host);
    $(document).delegate('a[href^="/"],a[href^="'+siteUrl+'"]', "click", function(e) {
        console.log(this.pathname);
        if(this.pathname != "/photography") {
        e.preventDefault();
        History.pushState({}, "", this.pathname);
        }
    });

    History.Adapter.bind(window, 'statechange', function(){
        var State = History.getState();
        $.get(State.url, function(data){
            document.title = $(data).find("title").text();
            $('.content').html($(data).find('.content'));
            _gaq.push(['_trackPageview', State.url]);
        });
    });

});
  </script>
</html>
