<!DOCTYPE html>
<html>

  {% include head.html %}
  <script src="/assets/javascript/index.js"></script>
  <body class="gallery">

    {% include header.html %}

    <div class="menu-left small">
      <div class="hero">
        <div class="lead-contain">
          <h1>OWEN WILLIAMS</h1>
          <p class="faded age" id="listen"></p>
        </div>
        <div class="links">
          <h3><a href="mailto:owen@char.gd">Say Hi</a></h3>
          <h3><a href="http://twitter.com/ow">Twitter</a></h3>
          <h3><a href="https://www.facebook.com/Ow3n.Williams">Facebook</a></h3>
          <h3><a href="https://github.com/hyperperforator">GitHub</a></h3>
          <h3><a href="http://char.gd">Newsletter</a></h3>
          <h3><a href="http://theapartment.co">Dev work</a>
        </div>
      </div>
    </div>
    <div class="body-width">
      <div class="container">
        <div class="nav">
          <div class="col-lg-12">
            <p class="uppercase"><a href="/">About</a>/<a href="/work">Work History</a>/<a href="/portfolio">Portfolio</a>/<a href="mailto:owen@char.gd">Contact</a></p>
          </div>
        </div>
        <div class="content">
        {{ content }}
        </div>

        {% include footer.html %}
      </div>
    </div>
  </body>

</html>
